# This declares an environment variable with the given value.
# Environment variables are separated by newlines and must not have space around the equals sign (`=`).

# General
# Declares the level of logging to use. Read the documentation for the `log` and `env_logger` crates for more information.
# debug, info etc.
RUST_LOG=debug

# DISCORD_CLASSIFIED
DISCORD_TOKEN=put_your_here
DISCORD_CLIENT_ID=put_your_here
DISCORD_CLIENT_SECRET=put_your_here
DISCORD_WEB_ID=put_your_here
DISCORD_WEB_DEV=put_your_here